.vaga {
    background-color: #FFF;
    &:hover {
        background-color: #c4f2ce;
        cursor: pointer;
    }
}

.vagaSelecionada {
    background-color: #2e9d46;
    &:hover {
        cursor: pointer;
    }
}

.vagaDesabilitada {
    background-color: #EEE !important;
}

.vagaDesabilitada td {
    color: #888;
}

.botaoDesabilitado {
    background-color: #e3dfd5 !important;
    &:hover {
        cursor: default;
    }
}

.msgEncerrado {
    display: none;
}